[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "pbjWrites_portfolio/themes/eternity"]
	path = pbjWrites_portfolio/themes/eternity
	url = https://github.com/boratanrikulu/eternity.git
